@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
html{
	  scroll-behavior: smooth;
}
body{
	font-family: "Noto Sans";
	background-color: rgba(153, 109, 84, 0.69);
	padding: 1.2%  1.2%  1.2%  calc(1.2%);
	padding-right: calc(1.2% + 12px);
	scroll-behavior: smooth;
	font-size: 1.2vw;
}
.container{
	position: absolute;
	background-color: white;
	width: calc(91vw - 12px);
	margin: auto;
	padding-left: 3vw;
	padding-right: 3vw;


}
h1{
	text-align: center;
}
#create{
	float: left;
}
#left1{
	margin-left: 11vw;
	width: 35vw;
}
#left2{
	margin-left: 11vw;
	width: 45vw;
}
img#mine{
	height: 18vw
}